[submodule ".emacs.d/submodules/structured-haskell-mode"]
	path = .emacs.d/submodules/structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode
[submodule "spacemacs/extra_el/paradox"]
	path = spacemacs/extra_el/paradox
	url = https://github.com/Drup/paradox.el
