let mapleader=" "

" Test these out with `:action FindUsages`
map gh <Action>(ShowHoverInfo)
map gs <Action>(ShowErrorDescription)
map gr <Action>(FindUsages)

map <leader>= <Action>(ReformatCode)

nnoremap <S-k> gt
nnoremap <S-j> gT

set number relativenumber
set clipboard+=unnamed

nnoremap Y y$

set visualbell " Disable the beep
set incsearch

" IntelliJ-specific

set ideajoin
set commentary

" Plugins

set surround
