let mapleader=" "

" Find these with     "IdeaVim: Track Action IDs"
" Test these out with `:action FindUsages`
map gh <Action>(ShowHoverInfo)
map gs <Action>(ShowErrorDescription)
map gr <Action>(FindUsages)
map [b <Action>(EditorCodeBlockStart)
map ]b <Action>(EditorCodeBlockEnd)

map <leader>= <Action>(ReformatCode)
map <leader>gb <Action>(Annotate)
map <leader>cr <Action>(RenameElement)

nnoremap <S-k> gt
nnoremap <S-j> gT

" set number relativenumber
set number
set clipboard+=unnamed

nnoremap Y y$

set visualbell " Disable the beep
set incsearch
set ignorecase smartcase

" IntelliJ-specific

set ideajoin
set commentary

" Plugins

set surround
